@tailwind base;
@tailwind components;
@tailwind utilities;

/* small app-level styles */
html,body,#root { height: 100% }
body { font-family: Inter, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial; }
